.wrap {
    position: relative;
    height: 100%;
    overflow: hidden;
}
.overview {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    background-color: #fff;
    transform: translateY(101%);
    transition: all ease 0.3s;
}


.wrap:hover .overview {
    transform: translateX(0); 
}
